<div class="combo_wrapper">

<div *ngIf="combo" class="pd-15">
<ul>
    <li *ngFor="let trick of combo">{{trick.name}}</li>
</ul>
</div>
<div class="pdbottom-15">
<select name="combo_difficulty" #combo_difficulty>
  <option value="0">Select Difficulty</option>
  <option value="0">Easy</option>
  <option value="1">Medium</option>
  <option value="2">Hard</option>
</select>
</div>
<div class="pdbottom-15">
<select name="combo_number_tricks" #combo_number_tricks>
    <option value="1">Combo Length</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
  </select>
</div>
<button (click)="getCombo(combo_difficulty.value,combo_number_tricks.value)">Get new Combo!</button>
</div>